#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#header img {
    width: 80px;
}

#header nav {
    display: flex;
    gap: 5vw;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: auto
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}