@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Rubik:ital,wght@0,300..900;1,300..900&family=Varela+Round&display=swap");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  font-family: "Varela Round", sans-serif;
  color: #69150e;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main > div {
  height: 100%;
  padding: 30px 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration-line: none;
  color: #69150e;
}

a:hover {
  color: #f45d4f;
}

button {
  background-color: #f45d4f;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  border: 1px solid #69150e;
  color: #69150e;
}

#home-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#home-buttons button {
  width: 300px;
}
 
header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #f45d4f;
}

header img {
  width: 60px;
  cursor: pointer;
}

header nav {
  display: flex;
  gap: 5vw;
}

#header-sign {
  display: flex;
  gap: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: auto;
  border-top: 2px solid #f45d4f;
}

.page {
  padding: 30px 20px;
  justify-items: center;
  align-content: center;
  text-align: center;
  background-color: #fbdfd8;
  border-radius: 50px;
}

#play-status {
  display: flex;
  justify-content: space-between;
}